
.user-profile-card .user-icon {
    margin-right: 10px;
}

.user-profile-card .card-title {
    display: inline;
}

.user-profile-card .user-name {
    display: inline;
}

.user-profile-card .user-img {
    width: 33%;
}

.user-profile-card .user-img-edit {
    width: 33%;
    margin-top: 23%;
    margin-left: 30%;
}
