
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "userProfile";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-brand {
    color: #eceff1 !important;
}

.navbar {
    background-color: #6a1b9a;
    color: #FFFFFF; 
}

.nav-link {
    color: #38006b !important;
    background: rgba(255,255,255,0.3);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #9c4dcc !important;
    color: #FFFFFF !important;
}

.btn-primary {
    background-color: #9c4dcc !important;
    border-color: #38006b !important;
}

.page-item.active .page-link {
    background-color: #9c4dcc !important;
    border-color: #38006b !important;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

body {
    background-color: #eceff1 !important;
    background: url('/images/city.jpg');
    background-attachment: fixed;
    margin-bottom: 50px;
}

